[Desktop Entry]
Type=Application
Version=1.0
Name=promptOS
Comment=promptOS graphical interface
Exec=promptos-gui
Icon=/usr/share/pixmaps/org.promptos.ControlCenter.png
Terminal=false
Categories=System;Utility;
StartupNotify=true
StartupWMClass=org.promptos.ControlCenter
